@import "../admin-equipe/admin-equipe.scss";
page-list-task-discuss {
    .homeIcon{
        color : #121212;
        
      }
      .item {
        background: rgba(232, 230, 230, 0px);
        //border: medium none;
        font-size: 20px
      }
      .title{
        text-align: center
      }
}
