<!--
  Generated template for the AdminProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col>
      <button ion-button menuToggle [class.activeButtonHighlight]="true" >
        <ion-icon name="menu" style="margin-top : 10px" ></ion-icon>
      </button>
      </ion-col>
      
       <ion-col>
      <ion-title class="title">Equipe</ion-title>
    </ion-col>
    <ion-col>
      <ion-buttons right>
    
        <button ion-button clear class="homeButton" name="home" (click)="gotoAdminPage()">
    
          <ion-icon class="homeIcon" isActive="false" [class.activeButtonHighlight]="!activeButton" name="home"></ion-icon>
    
        </button>
        <button ion-button clear class="homeButton" name="home" (click)="goToChatList()">
    
          <ion-icon isActive="true" [class.activeButtonHighlight]="true" name="ios-chatbubbles-outline"></ion-icon>
    
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>
      <ion-row>
        <ion-col>
     <!-- <ion-searchbar class="stick"  (ionInput)="getItems($event)"> </ion-searchbar>-->
    </ion-col>
    </ion-row>
    </ion-navbar>
  </ion-header>
  
<ion-content class="background-image" padding>


  <ion-card *ngFor="let item of USERS | async">
    
    <ion-card-content>
      <ion-card-title>
        {{item.pseudo}}
        </ion-card-title>

  <ion-list>
      <ion-item-sliding>
        <ion-item class="ionitem" >
          <ion-avatar item-start>
          
            <img src= "{{item.imageURL}}"/>
                  
          </ion-avatar>
             <h2>Email : {{item.email}}</h2>
             <p>Poste : {{item.poste}}</p>
            <div *ngIf="!(item.evaluation_rendement == 0)"> <p >Rendement moyen /10 : {{item.evaluation_rendement}}</p></div>
            
        </ion-item>
            
        <ion-item-options side="left" class="ionitem" >
        
            <button ion-button color="secondary" (click)="notify(item.pseudo,item.id)">
              <ion-icon name="ios-notifications-outline"></ion-icon>
              Notifier
            </button>
          </ion-item-options>
          <ion-item-options side="right" class="ionitem">
            <button ion-button color="danger" (click)="delete(item.id,item.email,item.password)">
              <ion-icon name="ios-trash-outline"></ion-icon>
              Supprimer
            </button>
          </ion-item-options>
      </ion-item-sliding>
      
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-fab bottom right>
    <button ion-fab color="secondary" (click)="addUser()">
        <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>


<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle [class.activeButtonHighlight]="true" >
      <ion-icon name="menu" ></ion-icon>
    </button>
   <button ion-button clear class="homeButton"  name="home"(click)="gotoAdminPage()" >
   
         <ion-icon class="homeIcon" name="home"></ion-icon>
    
     </button>
    <ion-title class="title">Equipe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="backgroundd"  padding>
  
  <ion-slides slidesPerView="1" >
    <ion-slide class ="card">
    
   <ion-scroll  scrollY="true" style="width :  350px; height : 600px">
     
<ion-card   *ngFor="let item of admins | async" >
  
  
    
    

  <ion-card-content>
    <ion-card-title>
      {{item.pseudo}}
      </ion-card-title>

<ion-list>
    <ion-item-sliding>
      <ion-item class="ionitem" >
        <ion-avatar item-start>
        
          <img src="http://www.stpaulusbc.org/content/images/no-profile.png"/>
                <!-- <img scr="../assets/imgs/logo.png" />
        </ion-avatar>
           <h2>Email : {{item.email}}</h2>
           <p>Poste : {{item.poste}}</p>
        
          
      </ion-item>
          
      <ion-item-options side="left" class="ionitem" >
        <button ion-button color="primary">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
      <ion-item-options side="right" class="ionitem">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Email
        </button>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
</ion-card-content>
</ion-card>
</ion-scroll> 

</ion-slide>

  <ion-slide >
      <ion-scroll  scrollY="true" style="width :  350px; height : 600px">
    <ion-card *ngFor="let item of users | async">
  
      <ion-card-content>
        <ion-card-title>
          {{item.pseudo}}
          </ion-card-title>
    
    <ion-list>
        <ion-item-sliding>
          <ion-item class="ionitem" >
            <ion-avatar item-start>
            
              <img src="http://www.stpaulusbc.org/content/images/no-profile.png"/>
                    <!-- <img scr="../assets/imgs/logo.png" />
            </ion-avatar>
               <h2>Email : {{item.email}}</h2>
               <p>Poste : {{item.poste}}</p>
            
              
          </ion-item>
              
          <ion-item-options side="left" class="ionitem" >
            <button ion-button color="primary">
              <ion-icon name="text"></ion-icon>
              Text
            </button>
            <button ion-button color="secondary">
              <ion-icon name="call"></ion-icon>
              Call
            </button>
          </ion-item-options>
          <ion-item-options side="right" class="ionitem">
            <button ion-button color="primary">
              <ion-icon name="mail"></ion-icon>
              Email
            </button>
          </ion-item-options>
        </ion-item-sliding>
        
      </ion-list>
    </ion-card-content>
    </ion-card>
  </ion-scroll> 
  </ion-slide>
</ion-slides>

</ion-content>
-->